{% load static %}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/downCount.js' %}"></script>
    <script src="{% static 'assets/js/fancybox.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/perfectscrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.circliful.min.js' %}"></script>
    <script src="{% static 'assets/js/google-map-int.js' %}"></script>
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script>