{% load mptt_tags %}
{% load i18n %}



        <footer>
            <div class="gap top-spac70 drk-bg2 remove-bottom">
                <div class="container">
                    <div class="footer-data">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="wdgt-box style2">
                                    <p>{{settings.description_footer}}</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-lg-8">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>{% trans "لینک های مفید" %}</h4>
                                            <ul>
                                                <li><a href="index-2.html#" title="">{% trans "خانه" %}</a></li>
                                                <li><a href="index-2.html#" title="">{% trans "اخبار" %}</a></li>
                                                {% recursetree category %}

                                                {% if node.is_leaf_node %}
                                                    <li class=""><a  href="{% url 'kheirie:category' node.slug %}"  title="">{{node.title}}</a> 
                                                {% endif %}


                                                {% endrecursetree %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>{% trans "صفحات سایت" %}</h4>
                                            <ul>
                                                <li><a href="{% url 'kheirie:home' %}" title="">{% trans "خانه" %}</a></li>
                                                <li><a href="{% url 'kheirie:all-posts' %}" title="">{% trans "اخبار" %}</a></li>
                                                {% recursetree category %}

                                                {% if node.is_leaf_node %}
                                                    <li class=""><a  href="{% url 'kheirie:category' node.slug %}"  title="">{{node.title}}</a> 
                                                {% endif %}


                                                {% endrecursetree %}
                                                <li><a href="{% url 'kheirie:contact-us' %}" title="">{% trans "تماس با ما" %}</a></li>
                                                <li><a href="{% url 'kheirie:about-us' %}" title="">{% trans "درباره ما" %}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>{% trans "تماس با ما" %}</h4>
                                            <ul class="cont-lst">
                                                <li><i class="flaticon-location-pin"></i>{{settings.address}}</li>
                                                <li><i class="flaticon-call"></i>{{settings.phone_number}}</li>
                                                <li><i class="flaticon-email"></i><a href="index-2.html#" title="">{{settings.email}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Footer Data -->
                    <div class="bottom-bar">
                        <p>{% trans "1400 | تمامی حقوق برای جامعه محفوظ میباشد" %}</p>
                        <div class="scl">
                            <a href="{{settings.linkdin}}" title="توییتر" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="{{settings.instagram}}" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="{{settings.whatsapp}}" title="گوگل پلاس" target="_blank"><i class="fa fa-whatsapp"></i></a>
                            <a href="{{settings.telegram}}" title="فیسبوک" target="_blank"><i class="fa fa-telegram"></i></a>
                        </div>
                    </div><!-- Bottom Bar -->
                </div>
            </div>
        </footer>