{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
    <link rel="stylesheet" href="{% static 'assets/css/icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.circliful.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
    {% if LANGUAGE_CODE == 'en' %}
    <link rel="stylesheet" href="{% static 'assets/css/ltr.css' %}">
    {% endif %}

    <link rel="stylesheet" href="{% static 'assets/css/shabnam.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="icon" href="{% static 'assets/images/favicon2.png' %}" sizes="32x32" type="image/png">
    <!-- Color Scheme -->
    <link rel="stylesheet" href="{% static 'assets/css/colors/color3.css' %}" /><!-- Color -->