{% load static %}
{% load mptt_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


        
        
        <header class="style2">
            <div class="container ">
                <div class="logo sec-title-inner2"><h3><a href="{% url 'kheirie:home' %}"><img src="{% static 'assets/images/logok.png' %}" style="width:170px"/></a></h3></div>
                <nav class="">
                    <div>
                    <a class="thm-btn brd-rd5" href="{% url 'kheirie:contact-us' %}" title="">{% trans "تماس با ما" %}</a>
                        <ul>
                            <li><a href="{% url 'kheirie:home' %}">{% trans "خانه" %}</a></li>
                            <li><a href="{% url 'kheirie:all-posts' %}">{% trans "اخبار" %}</a></li>
                            {% recursetree category %}
                                {% if node.is_leaf_node %}
                                    <li class=""><a  href="{% url 'kheirie:category' node.slug %}"  title="">{{node.title}}</a> 
                                {% else %}                                
                                    <li class="menu-item-has-children"><a  href=""  title="">{{node.title}}</a> 
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <ul>
                                        <li><a href="{% url 'kheirie:category' node.slug %}" title="">{{children}}</a></li>
                                    </ul>    
                                {% endif %}
                                </li>
							{% endrecursetree %}

                            <li><a href="{% url 'kheirie:about-us' %}">{% trans "درباره ما" %}</a></li>
                            <li>
                            {% if LANGUAGE_CODE == 'en' %}
                                <a href="{% url 'change_lang' %}?lang=fa&next=/fa">فارسی</a>
                            {% endif %}
                            {% if LANGUAGE_CODE == 'fa' %}
                                <a href="{% url 'change_lang' %}?lang=en&next=/en">EN</a>
                            {% endif %}
                            </li>
                            
                            <li></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header><!-- Header -->
        <div class="rspn-hdr">
            <div class="rspn-mdbr">
            </div>
            <div class="lg-mn">
                <div class="logo sec-title-inner2"><h3><a href="{% url 'kheirie:home' %}"><img src="{% static 'assets/images/logok.png' %}" style="width:100px" /></a></h3></div>
                <div class="rspn-cnt">
                    <span><i class="fa fa-envelope thm-clr"></i><a href="index-2.html#" title=""> {{settings.email}} </a></span>
                    <span><i class="fa fa-phone thm-clr"></i> {{settings.phone_number}} </span>
                </div>
                <span class="rspn-mnu-btn"> <i class="fa fa-list-ul"></i> </span>
            </div>
            <div class="rsnp-mnu">
                <span class="rspn-mnu-cls"> <i class="fa fa-times"></i> </span>
                <ul>
                    <li><a href="{% url 'kheirie:home' %}">{% trans "خانه" %}</a></li>
                    <li><a href="{% url 'kheirie:all-posts' %}">{% trans "اخبار" %}</a></li>
                    {% recursetree category %}
                        {% if node.is_leaf_node %}
                            <li class=""><a  href="{% url 'kheirie:category' node.slug %}"  title="">{{node.title}}</a> 
                        {% else %}                                
                            <li class="menu-item-has-children"><a  href=""  title="">{{node.title}}</a> 
                        {% endif %}
                        {% if not node.is_leaf_node %}
                            <ul>
                                <li><a href="{% url 'kheirie:category' node.slug %}" title="">{{children}}</a></li>
                            </ul>    
                        {% endif %}
                            </li>
					{% endrecursetree %}
                    <li><a href="{% url 'kheirie:about-us' %}">{% trans "درباره ما" %}</a></li>
                    <li><a href="{% url 'kheirie:contact-us' %}">{% trans "تماس با ما" %}</a></li>
                </ul>
            </div><!-- Responsive Menu -->
        </div><!-- Responsive Header -->


        <style>
        
        .lg-mn {background-color: white;}
        .lg-mn span {color:black;}

        </style>