{% load static %}
{% load render_partial %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fa">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    
    <title>راه هدایت{% block title %}{% endblock title %}</title>

    {% include 'shared/Header_Refrences.html' %}

</head>
<body>
    <main>
        <div class="pageloader-wrap">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div><!-- Pageloader Wrap -->
        
        {% render_partial 'kheirie:header' %}
   

    {% block content %}{% endblock content %}

        {% render_partial 'kheirie:footer' %}

    </main><!-- Main Wrapper -->


    {% include 'shared/Footer_Refrences.html' %}
    
</body>	


</html>