{% extends 'shared/Main_Layout.html' %}
{% load static %}
{% load i18n %}
        {% block content %}
        
            <section>
            <div class="gap">
                <div class="container">
                    <div class="sec-title style2 text-center">
                        <div class="sec-title-inner">
                            <h3><span class="secndry-clr">{% trans "کار هایی که ما انجام میدهیم" %}</span></h3>
                        </div>
                        <p>{% trans "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است" %} </p>
                    </div>
                    <div class="srv-wrap3">
                        <div class="row perdir">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="remove-ext5">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="srv-box3">
                                                <div class="srv-ttl">
                                                    <i class="flaticon-heart-1"></i>
                                                    <h4>آموزش قرآن</h4>
                                                    <span>آموزش آیات و قرائت</span>
                                                </div>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="srv-box3">
                                                <div class="srv-ttl">
                                                    <i class="flaticon-heart-1"></i>
                                                    <h4>کمک های مالی و خیریه</h4>
                                                    <span>کمک به افراد نیازمند</span>
                                                </div>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="srv-box3">
                                                <div class="srv-ttl">
                                                    <i class="flaticon-mosque"></i>
                                                    <h4>توسعه و بازسازی مساجد</h4>
                                                    <span>ساخت و بازسازی مساجد</span>
                                                </div>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="srv-box3">
                                                <div class="srv-ttl">
                                                    <i class="flaticon-mosque"></i>
                                                    <h4>کمک به فقرا</h4>
                                                    <span>کمک به فقرا و نیازمندان</span>
                                                </div>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gap gray-bg2">
                <div class="container">
                    <div class="msn-wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="msn-thmb-wrap">
                                    <a href="assets/images/resources/hstry-img.png" data-fancybox="gallery" title=""><img src="{% static 'assets/images/resources/hstry-img.png' %}" alt="msn-img1.jpg"></a> 
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="msn-desc">
                                    {{settings.about_company|safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {% endblock content %}

  