{% extends 'shared/Main_Layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

        <section>
            <div class="gap remove-bottom black-layer2 opc85">
                <div class="fixed-bg" style="background-image: url({% static 'assets/images/pira.jpg' %});"></div>
                <div class="container">
                    <div class="page-title-wrap">
                        <h2>{{cat.title}}</h2>
                    </div><!-- Page Title Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="container">
                    <div class="blog-detail-wrp">
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="blog-detail">
                                    <div class="blog-detail-inf brd-rd5">
                                        {% if cat.img_post %}
                                            <img src="{{ cat.img_post.url }}" alt="event-img2-1.jpg">
                                        {% endif %}
                                        {% if cat.video_post %}
                                        <style>
                                            .h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
                                        </style>
                                        <div class="h_iframe-aparat_embed_frame">
                                            <span style="display: block;padding-top: 57%"></span>
                                        <iframe src="{{ cat.video_post }}"></iframe>
                                        </div>
                                        {% endif %}
                                        <div class="blog-detail-inf-inr mt-5">
                                            <h4>{{ cat.title_post }}</h4>
                                        </div>
                                    </div>
                                    <div class="blog-detail-desc">
                                        <p>{{ cat.desc_post|safe }}</p>
                                    </div>
                                    {% if cat.download %}
                                    <div class="fea-info2 text-center blog-detail-inf-inr mt-5" >
                                        <a href="{{cat.download.url}}" download="{{cat.download.url}}" style="background-color: green; color:white;">{% trans "دانلود" %}</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div><!-- Blog Detail Wrap -->
                </div>
            </div>
        </section>

{% endblock content %}