{% extends 'shared/Main_Layout.html' %}
{% load static %}
{% load i18n %}

    {% block content %}
        <section>
            <div class="gap">
                <div class="container">
                    <div class="sec-title text-center">
                        <div class="sec-title-inner">
                            <span>{% trans "آگاهی پیدا کنید" %}</span>
                            <h3>{% trans "اطلاعات تماس" %}</h3>
                        </div>
                    </div>
                    <div class="contact-info-wrap text-center remove-ext3">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="contact-info-box">
                                    <i class="flaticon-location-pin"></i>
                                    <strong>{% trans "آدرس ما" %}</strong>
                                    <span>{{settings.address}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="contact-info-box">
                                    <i class="flaticon-call"></i>
                                    <strong>{% trans "تماس با ما" %}</strong>
                                    <span>{{settings.phone_number}}</span>
                                    <span>{{settings.phone_number2}}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <div class="contact-info-box">
                                    <i class="flaticon-email"></i>
                                    <strong>{% trans "ارسال پیام" %}</strong>
                                    <a href="team.html#" title="">{% trans "پشتیبانی 7/24 آماده پاسخگویی" %}</a>
                                    <a href="team.html#" title="">{{settings.email}}</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- Contact Info Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="container">
                    <div class="sec-title text-center">
                        <div class="sec-title-inner">
                            <span>{% trans "سوالی دارید؟" %}</span>
                            <h3>{% trans "ارسال پیام" %}</h3>
                        </div>
                    </div>
                    <div class="gap thm-layer opc9 mt-5">
                <div class="fixed-bg" style="background-image: url(assets/images/parallax7.jpg);"></div>
                    <div class="container">
                        <div class="nwsltr-wrp text-center">
                            <div class="nwsltr-innr">
                                <div class="nwsltr-title">
                                    <h3>{% trans "ارسال مشخصات و مدارک" %}</h3>
                                    <span>{% trans "نام و نام خانوادگی شماره تماس به همراه مدارک ارسال شود" %}</span>
                                </div>
                                <form>
                                    
                                    <a class="btn btn-warning" href="mailto:farhadggu@gmail.com">{% trans "ارسال" %}</a>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

                </div>
            </div>
        </section>
    {% endblock content %}
