 {% extends 'shared/Main_Layout.html' %}
 {% load static %}
 {% load i18n %}
 {% block content %}

		<section class ="owl-curve-green">
            <div class="gap no-gap">
                <img class="botm-shp shp-img" src="{% static 'assets/images/shp2-1.png' %}" alt="shp2-1.png">
                <div class="featured-area-wrap text-center">
                    <div class="featured-area2 owl-carousel">
                    {% for ps in object_list %}
                        <div class="featured-item style2" style="background-image: url({% static 'assets/images/pira.jpg' %});">
                            <div class="featured-cap">
                                <h3>{{ps.title}}</h3>
                                <span style='direction: rtl'>{{ps.desc|truncatewords:15|striptags}}</span>
                                <a class="thm-btn brd-rd5" href="{% url 'kheirie:detail' ps.slug %}" title="">{% translate 'بیشتر بخوانید' %}<i class="flaticon-left-arrow"></i></a>
                            </div>
                        </div>
                    {% endfor %}    
                    </div>
                </div><!-- Featured Area Wrap -->
            </div>
        </section>
        
        <section>
            <div class="gap">
                <div class="container">
                    <div class="hstry-wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="hstry-img text-center">
                                    <img src="{% static 'assets/images/resources/hstry-img.png' %}" alt="hstry-img.png">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="hstry-desc">
                                    {{settings.about_company|safe}}
                                </div>
                            </div>
                        </div>
                    </div><!-- History Wrap -->
                </div>
            </div>
        </section>
        
        <section>
            <div class="gap">
                <div class="container">
                    <div class="event-wrap">
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="remove-ext3">
                                    <div class="row">
										{% for rs in object_list %}
                                                <div class="col-md-4 col-sm-4 col-lg-4">
                                                    <div class="event-box2">
                                                        <div class="event-thumb">
                                                            <a href="{% url 'kheirie:detail' rs.slug %}" title="">
                                                                {% if rs.img %}
                                                                    <img src="{{ rs.img.url }}" alt="event-img2-1.jpg" style="height:200px">
                                                                {% endif %}
                                                                {% if rs.video %}
                                                                <style>
                                                                    .h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
                                                                </style>
                                                                <div class="h_iframe-aparat_embed_frame">
                                                                    <span style="display: block;padding-top: 57%"></span>
                                                                    <iframe src="{{ rs.video }}"></iframe>
                                                                </div>
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <div class="event-info">
                                                            <h4><a href="{% url 'kheirie:detail' rs.slug %}" title="">{{ rs.title|truncatewords:7 }}</a></h4>
                                                            <p>{{ rs.desc|truncatewords:30|safe }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    </div>
                                    <div class="view-all text-center">
                                        <a class="thm-btn brd-rd5" href="{% url 'kheirie:all-posts' %}" title="">{% trans "پست های بیشتر" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Event Wrap -->
                </div>
            </div>
        </section>

        <section>
            <div class="gap">
                <div class="container">
                    <div class="sec-title2 text-center">
                        <div class="sec-title-inner2">
                            <span>{% trans "خدمات بشر دوستانه" %}</span>
                            <h3>{% trans "خدمات ما" %}</h3>
                        </div>
                    </div>
                    <div class="serv-wrap text-center remove-ext3">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="srv-box2">
                                    <i class="flaticon-quran-rehal"></i>
                                    <div class="srv-info2">
                                        <h4>آموزش قرآن</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="srv-box2">
                                    <i class="flaticon-heart-1"></i>
                                    <div class="srv-info2">
                                        <h4>خدمات خیریه و کمک</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="srv-box2">
                                    <i class="flaticon-mosque"></i>
                                    <div class="srv-info2">
                                        <h4>ساخت مساجد</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="srv-box2">
                                    <i class="flaticon-social-care"></i>
                                    <div class="srv-info2">
                                        <h4>کمک به فقرا</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Serv Wrap -->
                </div>
            </div>
        </section>
        
        
        
{% endblock content %}