{% extends 'shared/Main_Layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

        <section>
            <div class="gap remove-bottom black-layer2 opc85">
                <div class="fixed-bg" style="background-image: url({% static "assets/images/pira.jpg" %});"></div>
                <div class="container">
                    <div class="page-title-wrap">
                        <h2>{% trans "رویداد ها و اطلاع رسانی ها" %}</h2>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="container">
                    <div class="event-wrap">
                        <div class="row">
                            
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="remove-ext3">
                                    <div class="row">
                                        {% for posts in object_list %}
                                            <div class="col-md-4 col-sm-6 col-lg-4">
                                                <div class="event-box2">
                                                    <div class="event-thumb">
                                                        <a href="{% url "kheirie:detail" posts.slug %}" title="">
                                                            {% if posts.img %}
                                                                    <img src="{{ posts.img.url }}" alt="event-img2-1.jpg" style="height:200px">
                                                            {% endif %}
                                                            {% if posts.video %}
                                                            <style>
                                                                    .h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
                                                            </style>
                                                            <div class="h_iframe-aparat_embed_frame">
                                                                <span style="display: block;padding-top: 57%"></span>
                                                                <iframe src="{{ posts.video }}"></iframe>
                                                            </div>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="event-info">
                                                        <h4><a href="{% url "kheirie:detail" posts.slug %}" title="">{{ posts.title|truncatewords:7 }}</a></h4>
                                                        <p>{{ posts.desc|truncatewords:30|safe }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Event Wrap -->
                </div>
            </div>
        </section>

{% endblock content %}

{% for cat in category %}
                                {% if cat.parent == None %}
                                    <li class="menu-item-has-children"><a  href="{% url 'kheirie:category' cat.slug %}"  title="">{{cat.title}}</a> 
                                {% endif %}
                                {% if cat.children.all %}
                                    <ul>
                                    {% for cat in cat.children.all %}
                                        <li><a href="{% url 'kheirie:category' cat.slug %}" title="">{{cat.title}}</a></li>
                                    {% endfor %}
                                    </ul>    
                                {% endif %}
                                </li>
							{% endfor %}